.products{
	position: relative;
	.container {
		position: relative;
		z-index: 2;
	}
}

.table_container{
	table{
		margin: 40px auto;
		border: none;
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 20px;
	}

	thead{
		background-color: $yellow;
		th{
			padding: 20px 15px;
		}
	}
	
	tbody{
		td{
			padding: 20px 15px;
			border: 1px solid #ffffff;
		}
		tr{
		&:nth-child(even){
			background-color: #ffefbf;
		}
		&:nth-child(odd){
			background-color: #f2e1b5;
		}
	}
	}


	
	td {
		text-align: center;
		border-color: transparent;
	}

	th{
		text-align: center;
		color: $white;
		border: 1px solid $white; 
	}
}
.btn-holder {
	display: flex;
	text-align: center;
	align-items: center;
}
.downl-btn {
	@include animate(color);
	margin: 0 auto;
	&:hover {
		color: $yellow;
	}
	&:active,
	&:focus {
		color: $yellow;
	}
	img{
		margin-left: 10px;
		max-width: 20px;
	}
}