.footer {
	background-color: $black;
	padding: 20px 0;
	color: #fff;
	.row {
		@include media(">=tablet") {
			display: flex;
			justify-content: space-between;
			
		}
	}
	a{
		color: #fff;
		&:hover {
			color: $yellow;
		}
	}
	.info-footer {
		max-width: 250px;
		li {
			margin-bottom: 15px;
		}
	}
	.contact_form {
		button {
			width: 100%;
		}
	}
}